:host{
    display: grid;
    padding: 20px;
    border-radius: 20px;
    background-color: silver;
    width: 150px;
    height: 350px;
    grid-template-columns: auto auto;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

div>button{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.pressed{
    background-color: lime;
}