<div>
    <button class="controllerButton" (click)="buttonPressed($event)">4</button>
</div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">3</button>
</div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">2</button>
</div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">1</button>
</div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">0</button>
</div>
<div></div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">Open</button>
</div>
<div>
    <button class="controllerButton" (click)="buttonPressed($event)">Close</button>
</div>