:host{
    display: grid;
    padding: 20px;
    border-radius: 0 0 25px 25px;
    background-color: silver;
    min-width: 200px;
    min-height: 350px;
    grid-template-columns: auto auto;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

div>button{
    border-radius: 100%;
    border: 2px solid gray;
    width: 60px;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    &:active{
        background-color: #4d4dff;
        border-color: #4d4dff;
    }
}

.pressed{
    border-color: #4d4dff!important;
}