<div>
    <button id="4" class="controllerButton" (click)="buttonPressed($event)">4</button>
</div>
<div>
    <button id="3" class="controllerButton" (click)="buttonPressed($event)">3</button>
</div>
<div>
    <button id="2" class="controllerButton" (click)="buttonPressed($event)">2</button>
</div>
<div>
    <button id="1" class="controllerButton" (click)="buttonPressed($event)">1</button>
</div>
<div>
    <button id="0" class="controllerButton" (click)="buttonPressed($event)">0</button>
</div>
<div></div>
<div>
    <button id="Open" class="controllerButton" (click)="buttonPressed($event)">Open</button>
</div>
<div>
    <button id="Close" class="controllerButton" (click)="buttonPressed($event)">Close</button>
</div>