<div class="controller">
    <div>
        <button (click)="buttonPressed($event)">1</button>
    </div>

    <div>
        <button (click)="buttonPressed($event)">2</button>
    </div>

    <div>
        <button (click)="buttonPressed($event)">3</button>
    </div>
    <div>
        <button (click)="buttonPressed($event)">4</button>
    </div>
    <div>
        <button (click)="buttonPressed($event)">Open</button>
    </div>
    <div>
        <button (click)="buttonPressed($event)">Close</button>
    </div>

</div>