<div class="header">
    <p class="name">Štefan Tomčej</p>
    <div class="musicControll">
        <p>Elevator music:</p>
        <div>
            <button pButton type="button" icon="pi pi-play" (click)="playMusic()" class="p-button-sm p-button-rounded p-button-success"></button>
            <button pButton type="button" icon="pi pi-stop" (click)="stopMusic()" class="p-button-sm p-button-rounded p-button-danger"></button>
        </div>
        <input (change)="changeVolume()" [(ngModel)]="volume" type="range" min="1" max="100">
    </div>  
</div>
<div class="main">
    <div>
        <app-level-indicator></app-level-indicator>
        <app-controller (onButtonPressed)="operateElevator($event)"></app-controller>
    </div>
    <app-doors [operation]="sendOperation"></app-doors>
</div>