:host{
    display: flex;
}
.part{
    width: 200px;
    height: 450px;
    border: 3px solid black;
    position: absolute;
}


#leftPart{
    background: rgb(80,80,80);
    background: linear-gradient(90deg, 
                rgba(80,80,80,1) 0%, 
                rgba(153,153,153,1) 61%, 
                rgba(190,190,190,1) 100%);
}

#rightPart{
    left:206px;
    background: rgb(80,80,80);
    background: linear-gradient(270deg, rgba(80,80,80,1) 0%, rgba(153,153,153,1) 61%, rgba(190,190,190,1) 100%);
    transition: 2s;
}

.open{
    left:406px!important;
    transition: 2s;
}