:host{
    position: relative;
    width: 400px;
    height:450px;
    background-color: lightgray;
    box-shadow:inset 0px 0px 0px 3px silver;
}

.doors{
    display: flex;
}

.leftPart, .rightPart{
    box-sizing: border-box;
    border: 3px solid #696969;
    width: 200px;
    height: 450px;
    position: absolute;
}


.leftPart{
    left:0;
    transition: 3s;
    background: rgb(80,80,80);
    background: linear-gradient(90deg, 
                rgba(80,80,80,1) 0%, 
                rgba(153,153,153,1) 61%, 
                rgba(190,190,190,1) 100%);
}

.rightPart{
    right:0;
    transition: 3s;
    background: rgb(80,80,80);
    background: linear-gradient(270deg, rgba(80,80,80,1) 0%, rgba(153,153,153,1) 61%, rgba(190,190,190,1) 100%);
}

.open.leftPart{
    transition: 3s;
    left: -197px
}

.open.rightPart{
    transition: 3s;
    right: -197px;
}

.frame{
    position:absolute;
    box-sizing: content-box;
    left: -200px;
    width: 400px;
    height: 450px;
    background-color: transparent;
    z-index: 10;
    border-left: 200px solid gray;
    border-right: 200px solid gray;
}

.leftFrame,.rightFrame{
    position:absolute;
    height: 450px;
    width: 95px;
    background-color: rgb(179, 179, 179);
    z-index: 20;
    border: 3px solid silver;
}

.leftFrame{
    left:-92px;
    border-right:none;
    box-shadow: 7px 0 5px -2px rgb(0,0,0,0.2);
}

.rightFrame{
    right:-92px;
    border-left:none;
    box-shadow: -7px 0 5px -2px rgb(0,0,0,0.2);
}

.trapezoid{
    position:absolute;
    bottom:-150px;
    right: -182px;
    border-bottom: 150px solid darkgray;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	height: 0;
	width: 764px;
}